*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Courgette', cursive;
  font-weight: bold;

}

body {
  padding: 100px 100px;
  margin: 100px 100px;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)), url("bg.jpg");
  
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  border-radius: 10px ;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2.3rem;
  border: 1px solid rgb(97, 94, 94);
  outline: none;
  background-color: rgb(255, 255, 255);
}

.calculator-grid > button:hover {
  background-color: rgba(111, 243, 243, 0.9);
  border-radius: 10px;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.856);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 10px ;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}